# Core
PyYAML==6.0.2
pydantic>=2.0
SQLAlchemy==2.0.41
PyMySQL==1.1.1
alembic>=1.13

# ETL
chardet==5.2.0
ijson==3.3.0
openpyxl==3.1.5

# Web
Flask==3.1.1
waitress==3.0.2
Flask-Limiter==4.1.1
PyJWT==2.10.1
bcrypt==4.3.0


# Windows Service
pywin32==311

# Watcher
watchdog==6.0.0
pandas==3.0.3

# Development
pytest==8.3.5
pytest-cov==6.1.0
pytest-mock==3.14.0
black==25.1.0
flake8==7.2.0
mypy==1.15.0
